dist
.astro
package.json
pnpm-lock.yaml
docs
src/content/posts
GEMINI.md

# Dependencies
node_modules

# Build & Test Artifacts
test-results
playwright-report
accessibility-report
src/pages/rss.xml.ts
rss-validation.json
html-validation.json
